:root {
  --pri-color: #00DCD3;
  --sec-color: #5B08E2;
}

* {
  box-sizing: border-box;  
}

body {    
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {  
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 80vw;
  max-width: 800px;
  padding: 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.search-input {
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem;
  border: 2px solid var(--pri-color);
  border-radius: 10px;
}

.search-btn {
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem 4rem;
  margin: .5rem 0 0;
  background-color: var(--pri-color);
  border: 2px solid var(--pri-color);
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.search-btn:hover,
.search-btn:focus {
  background-color: #fff;
  border: 2px solid var(--sec-color);
}

.footer-links i {
  color: var(--sec-color);
  margin: 1rem;
}

.footer-links i:hover, 
.footer-links i:focus {
  color: var(--pri-color);
  margin: 1rem;
}